<div class="our-latest-designs">
  <div class="heading">OUR LATEST DESIGNS
  </div>
<div class="img-slider">
<ng-image-slider
    [images]="imagesUrl"
    [infinite]="false"
    [autoSlide]="1"
    [imageSize]="{width: '33%', height: 'auto', space: '10'}"
    [animationSpeed]="1"
    [slideImage]="1"
    [manageImageRatio]="true"
></ng-image-slider>
</div>
<div class="img-slider1">
  <ng-image-slider
      [images]="imagesUrl"
      [infinite]="false"
      [autoSlide]="1"
      [imageSize]="{width: '100%', height: '400px'}"
      [animationSpeed]="1"
      [slideImage]="1"
      [manageImageRatio]="true"
  ></ng-image-slider>
</div>
<div class="img-slider2">
  <ng-image-slider
      [images]="imagesUrl"
      [infinite]="false"
      [autoSlide]="1"
      [imageSize]="{width: '50%', height: '400px'}"
      [animationSpeed]="1"
      [slideImage]="1"
      [manageImageRatio]="true"
  ></ng-image-slider>
</div>
</div>



















<!--


<div class="our-latest-designs">
    <div class="heading">OUR LATEST DESIGNS
    </div>
  
    <section class="carousel" aria-label="Gallery">
      <ol class="carousel__viewport">
        <li id="carousel__slide1"
            tabindex="0"
            class="carousel__slide">
          <div class="carousel__snapper">
            <div class= "column">
              <img src="assets/images/1.jpg" style="padding-right: 1rem; height: 16vw; width:16vw">
              <img src="assets/images/2.jpg" style="padding-right: 1rem; height: 16vw; width:16vw">
              <img src="assets/images/2.jpg" style="padding-right: 1rem; height: 16vw; width:16vw">
            </div>
          </div>
        </li>
        <li id="carousel__slide2"
            tabindex="0"
            class="carousel__slide">
          <div class="carousel__snapper">
            <div class= "column">
              <img src="assets/images/3.jpg" style="padding-right: 1rem; height: 16vw; width:16vw">
              <img src="assets/images/4.jpg" style="padding-right: 1rem; height: 16vw; width:16vw">
              <img src="assets/images/2.jpg" style="padding-right: 1rem; height: 16vw; width:16vw">
            </div>
          </div>
          
        </li>
        <li id="carousel__slide3"
            tabindex="0"
            class="carousel__slide">
          <div class="carousel__snapper">
            <div class= "column">
              <img src="assets/images/3.jpg" style="padding-right: 1rem; height: 16vw; width:16vw">
              <img src="assets/images/1.jpg" style="padding-right: 1rem; height: 16vw; width:16vw">
              <img src="assets/images/2.jpg" style="padding-right: 1rem; height: 16vw; width:16vw">
            </div>
          </div>
          
        </li>
        <li id="carousel__slide4"
            tabindex="0"
            class="carousel__slide">
          <div class="carousel__snapper">
            <div class= "column">
              <img src="assets/images/1.jpg" style="padding-right: 1rem; height: 16vw; width:16vw">
              <img src="assets/images/2.jpg" style="padding-right: 1rem; height: 16vw; width:16vw">
              <img src="assets/images/4.jpg" style="padding-right: 1rem; height: 16vw; width:16vw">
            </div>
          </div>
          
        </li>
      </ol>
      <aside class="carousel__navigation">
        <ol class="carousel__navigation-list">
          <li class="carousel__navigation-item">
            <a href="#carousel__slide1"
               class="carousel__navigation-button">Go to slide 1</a>
          </li>
          <li class="carousel__navigation-item">
            <a href="#carousel__slide2"
               class="carousel__navigation-button">Go to slide 2</a>
          </li>
          <li class="carousel__navigation-item">
            <a href="#carousel__slide3"
               class="carousel__navigation-button">Go to slide 3</a>
          </li>
          <li class="carousel__navigation-item">
            <a href="#carousel__slide4"
               class="carousel__navigation-button">Go to slide 4</a>
          </li>
        </ol>
      </aside>
    </section>


-->