
.our-latest-designs{
    margin-top: 5rem;
    z-index: -10;
    margin-bottom: 5vw;
}
.heading {
    text-align: center;
    font-family: "PT Sans";
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 2rem;
}

.img-slider {
  width: auto; 
  height: auto; 
  text-align:center; 
  padding-right: 10rem;
  padding-left: 10rem;
  z-index: -10;
}
.img-slider1 {
  display: none;
}
.img-slider2 {
  display: none;
}

@media screen and (max-width: 875px){
    .img-slider{
      display: none;
    }
    .img-slider2 {
      display: block;
      width: auto; 
      height: auto; 
      text-align:center; 
      padding-right: 1rem;
      padding-left: 1rem;
      z-index: -10;
    }
    .img-slider1 {
      display: none;
    }
}
@media screen and (max-width: 400px){
  .img-slider{
    display: none;
  }
  .img-slider1 {
    display: block;
    width: auto; 
    height: auto; 
    text-align:center; 
    padding-right: 1rem;
    padding-left: 1rem;
    z-index: -10;
  }
  .img-slider2{
    display: none;
  }
}

/*
  .zoom {
    padding: 0px;
    transition: transform .2s;
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
  }
  img {
    border-radius: 10%;
  }

  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }

  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
    border: 0;
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; 
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 25%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 10%;
    right: 15%;
    bottom: 10%;
    left: 15%;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    text-align: center;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    

  }
  
  
  
  .carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }

  @media screen and (max-width: 875px){
    
  }

  @media screen and (max-width: 1305px){
      
}
*/