<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div class="container">
    <div class="logo">
        <a href="#"><img class="logo-img" src="assets/images/smartown_logo.png" alt="logo"></a>
    </div>
    <div class="contact-detail">
        <div class="heading">Contact us at</div>
        <a class="footer-link" href="tel:+919619224646">
            <span>
            <i class="material-icons" style="color:white">phone_iphone</i>
            </span>
            <span>  +91 9619224646</span>
        </a>
        <a class="footer-link" href="tel:+919820175332">
            <span>
            <i class="material-icons" style="color:white">phone_iphone</i>
            </span>
            <span>+91 9820175332</span>
        </a>
        <a class="footer-link" href="mailto:support@smartown.co.in">
            <span>
            <i class="material-icons" style="color:white">mail_outline</i>
            </span>
            <span>support@smartown.co.in</span>
        </a>
    </div>
    <div class="find-us">
        <div class="heading">Find us at</div>
        <a class="social" href="https://www.instagram.com/smart_own/"><img style="height: 40px; width: 40px; padding-right: 2rem;"
            src="assets/images/insta.png" alt="instagram"></a>
        <a class="social" href="https://www.facebook.com/Smart-Own-100410784903177"><img style="height: 40px; width: 40px;"
            src="assets/images/fb.png" alt="facebook"></a>
    </div>
</div>

<div class="container2">
    <div class="copyright">
        <div class="line"></div>
        <div class="copyright-text">
            <span>Smart Own © 2019 / All Rights Reserved</span>
            <span style="margin-left: 1rem">|</span>
            <span><a style="margin-left: 1rem; color: rgba(255,255,255,0.35)!important" href="assets/PrivacyPolicy.pdf" target="_blank">Privacy Policy</a></span>
        </div>
    </div>
</div>
