.container {
    height: 100%; 
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'PT Serif', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    font-style: normal;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: #262626;
    
}
.logo {
    margin-top: 4rem;
    text-align: center;
}

.logo-img {
    width: 150px;
}

.heading {
    text-align: center;
    font-family: "PT Sans";
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 35px;
    margin-bottom: 2rem;
    margin-top: 5rem;

    text-align: left;
    font-size: 20px;
    font-weight: 300;
}

.footer-link {
    color: #fff!important;
    font-size: 18px;
    line-height: 30px;
    font-family: 'PT Serif', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: none;
    display: flex;
    margin-bottom: 1rem;
    text-decoration: none;

}

.social {
    display: inline-block;
}

.container2 {
    height: 100%; 
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 1fr;
    font-family: 'PT Serif', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    font-style: normal;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: #262626
}

.line {
    width: 100%;
    height: 47px;
    border-bottom: 1px solid;
    color: rgba(255,255,255,0.35);
    position: relative;
    margin-bottom: 1rem;
}
.copyright-text {
    display: block;
    padding: 1px 20px 1px 0;
    position: relative;
    overflow: hidden;
    text-align: left;
    color: rgba(255,255,255,0.35)!important;
    font-family: 'PT Serif', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 2rem;
    margin-left: 1rem;
}


@media screen and (max-width: 1100px) {
    .container {
        grid-template-columns: 1fr;
    }
    .contact-detail{
        text-align: center;
    }
    .footer-link {
        text-align: left;
    }
}