<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Jwellery Rental at affordable prices">
  <meta name="keywords" content="rental, affordable jwellery, professional designs, latest designs">
  <meta name="author" content="SmartOwn">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
</head>



<div class="header">
  <div class="container" id="myContainer">
    <div class="menu-toggle">
    <i class="material-icons" style="color:white">view_headline</i>
    </div>
    <nav>
      <a href="#"><img style="width: 14rem; float: left;" src="assets/images/smart-own.png" alt="SmartOwn-icon"></a>
      <ul>
        <li class="current"><a href="#">Home</a></li>
        <li><a href="#designs">OUR LATEST DESIGNS</a></li>
        <li><a href="#works">HOW IT WORKS</a></li>
        <li><a href="#testimonials">TESTIMONIALS</a></li>
        <li><a href="#contact">CONTACT US</a></li>
        
        <!--
        <div class="menu-toggle"><a href="javascript:void(0);" class="icon" onclick="myFunction()"></div>
          <li><i class="material-icons" style="color:white">view_headline</i></li>
        </a>-->
        
      </ul>
    </nav>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.material-icons').click(function(){
      $('.container li').toggleClass('active')
    })
  })
</script>
<div>

  <script type="text/javascript">
    function myFunction() {
      var x = document.getElementById("myContainer");
      if (x.className === "container") {
        x.className += " responsive";
      } else {
        x.className = "container";
      }
    }
    </script>
</div>



<app-home id="home"></app-home>



<app-designs id="designs"></app-designs>


<app-works id="works"></app-works>

<app-testimonials id="testimonials"></app-testimonials>
<app-contact id="contact"></app-contact>

