<div class="heading">What our clients say</div>

<section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">
      <li id="carousel_slide1"
          tabindex="0"
          class="carousel_slide">
        <div class="carousel__snapper">
          <div class="text">
            I had one of the best days ever thanks to Smart Own. The Smart own team was very responsive and went the extra
            mile to deliver the jewellery set at my sister’s address.
          </div>
          <div class="name">Prachi Gupta</div>
        </div>
      </li>
      <li id="carousel_slide2"
          tabindex="0"
          class="carousel_slide">
        <div class="carousel__snapper">
            <div class="text">
            Good prices. great collection and fast delivery.. love this app
            </div>
            <div class="name">Veena Mehta</div>
        </div>
        
      </li>
      <li id="carousel_slide3"
          tabindex="0"
          class="carousel_slide">
        <div class="carousel__snapper">
            <div class="text">
            LOVE SMART OWN! Their jewelry is absolutely BEAUTIFUL and quite affordable. I got a silver Earrings and Pendant
            Necklace for my brother-in- law’s wedding. Loved it.
            </div>
            <div class="name">Preeti Shah</div>
        </div>
        
      </li>
      <li id="carousel_slide4"
          tabindex="0"
          class="carousel_slide">
        <div class="carousel__snapper">
            <div class="text">
            The courtesy with which your staff processed my order completely cleared any reservations I had about renting
            jewelry. The quality of the set made me feel beautiful! I thank you the outstanding service
            </div>
            <div class="name">Anjana Sharma</div>
        </div>
        
      </li>
    </ol>
    <aside class="carousel__navigation">
        <ol class="carousel__navigation-list">
            <li class="carousel__navigation-item">
            <a href="#carousel_slide1"
                class="carousel__navigation-button">Go to slide 1</a>
            </li>
            <li class="carousel__navigation-item">
            <a href="#carousel_slide2"
                class="carousel__navigation-button">Go to slide 2</a>
            </li>
            <li class="carousel__navigation-item">
            <a href="#carousel_slide3"
                class="carousel__navigation-button">Go to slide 3</a>
            </li>
            <li class="carousel__navigation-item">
            <a href="#carousel_slide4"
                class="carousel__navigation-button">Go to slide 4</a>
            </li>
        </ol>
    </aside>
  </section>