<div class="container main-home">
    <div class="left-margin"></div>
    <div class="main-text">
        <div style="color: white;">
            <span class="home-text1">Feel brand new at every ocassion</span><br>
            <span class="home-text2">Got a gorgeous new look for every special ocassion while saving money by renting
              jewelry from our premiere collection</span>
        </div>
        <div class="app-link">
            <a style="margin-right: 3rem;" href="https://play.google.com/store/apps/details?id=com.smartown"><img class="img-res" src="assets/images/applestore.png"
                alt="App
            Store"></a>
            <a href="https://play.google.com/store/apps/details?id=com.smartown"><img class="img-res" 
                src="assets/images/playstore.png" alt="Play
            Store"></a>   
        </div>
    </div>
    <div class="images">
        <img class="lady1 mySlides fade" src="assets/images/lady1.jpg"
          alt="lady1">
        <img class="lady2 mySlides fade" src="assets/images/lady2.jpg"
          alt="lady2">
        <img class="lady3 mySlides fade" src="assets/images/lady3.jpg"
          alt="lady3">
    </div> 
</div>
<div class="mobile-screen">
  <ng-image-slider
  [images]="imagesUrl"
  [infinite]="false"
  [autoSlide]="1"
  [imageSize]="{width: '100%', height: '50%'}"
  [animationSpeed]="1"
  [slideImage]="1"
  ></ng-image-slider>
</div>

<div class="sub-page">
    <div id="sub-page-text" style="color: black;">
        <span style="font-size: 40px;" >New Customer Exclusive</span><br>
        <span style="font-size: 53px;">Up To 50% On All Rentals</span>
    </div>
    <button class="button"> Find Your Look </button>
</div>



<!--
<div class="home">
    <div
      style="padding-bottom: 5rem; background-color: grey; background-image: url('assets/images/home-right.png'); background-repeat: no-repeat; background-position: right;"
      class="container">
      <div class="home-left">
        <div style="color: white; width: 600px;">
          <span class="home-text1">Feel brand new at every ocassion</span><br>
          <span class="home-text2">Got a gorgeous new look for every secial ocassion while saving money by renting
            jewelry from our premiere collection</span>
        </div>
        <div style="padding-top: 1rem;" class="app-link">
          <a href="https://play.google.com/store/apps/details?id=com.smartown"><img src="assets/images/applestore.png"
              alt="App
          Store"></a>
          <a style="padding-left: '5rem'" href="https://play.google.com/store/apps/details?id=com.smartown"><img
              src="assets/images/playstore.png" alt="Play
          Store"></a>   
      </div>
      <div class="home-right">
        <img style="width: 17%; position: relative; z-index: 0;" src="assets/images/lady1.jpg"
          alt="lady1">
        <img style="width: 17%; position: relative; " src="assets/images/lady2.jpg"
          alt="lady1">
        <img style="width: 17%; position: relative;" src="assets/images/lady3.jpg"
          alt="lady1">
      </div>
  
  
    </div>
  
    <div style="padding-top: 5rem; text-align: center; padding-bottom: 3rem; background-color: rgb(245, 205, 211);"
      class="sub-page">
      <span class="mat-display-1">New Customer Exclusive<br></span>
      <span class="mat-display-2">Up To 50% On All Rentals<br></span>
      <a href="https://play.google.com/store/apps/details?id=com.smartown" class="button">Find Your Look</a>
    </div>
  </div>-->