.heading {
    text-align: center;
    font-family: "PT Sans";
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 2rem;
    margin-top: 5rem;
}
.container1 {
    height: 100%; 
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'PT Serif', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    font-style: normal;
    padding-left: 15vw;
    padding-right: 15vw;
}
.content1 {
    display: block;
    background: #feed905c;
    border: outset #feed90 2px;
    padding: 30px 15px;
}
.content2 {
    display: block;
    background: #feed905c;
    border: outset #feed90 2px;
    padding: 30px 15px;
}
.content3 {
    display: block;
    background: #feed905c;
    border: outset #feed90 2px;
    padding: 30px 15px;
}
.title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    font-family: 'PT Serif';
    color: #292834;
}
.text {
    font-size: 20px;
    line-height: 1.5em;
    padding: 0 0 20px;
    margin: 0;
    font-weight: 300;
    font-style: normal;
    font-family: 'PT Serif', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container2 {
    height: 100%; 
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    font-family: 'PT Serif', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    font-style: normal;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 5vw;
}

.text1 {
    font-size: 30px;
    line-height: 1.5em;
    padding: 70px 0 20px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    position: relative;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    color: #000000;
    font-family: 'PT Serif', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-style: normal;
}
.mobile {
    display: inline-block;
    color: transparent;
    height: auto;
    font-size: 0;
    text-align: center;
    max-width: 100%;
    -webkit-animation:spin 2s linear 1;
    -moz-animation:spin 2s linear 1;
    animation:spin 2s linear 1;
}

.container3 {
    height: 100%; 
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'PT Serif', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    font-style: normal;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 5vw;
    padding-bottom: 3rem;
    background-color: #feed90;
    position: relative;
}

.app-link {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

@-moz-keyframes spin { 50% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotate(180deg); } }
@keyframes spin { 50% { -webkit-transform: rotate(190deg); transform:rotate(180deg); } }

@media screen and (max-width: 1100px) {
    .container1 {
        grid-gap: 3vw;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .container2 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    .text1 {
        padding: 0 0 20px;
        
    }
    .container3 {
        display: flex;
        flex-direction: column;
        align-content: center;
        
    }
    .app-link {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}