<div class="heading">How it works</div>
<div class="container1">
    <div class="content1">
        <div style="text-align:center; float: left;">
            <div><img src="assets/images/hiw1.png" alt="hiw1"></div>
            <div style="padding-top: 2rem;" class="title">1. Find Your Look</div>
            <div style="padding-left: 2rem; padding-right: 2rem;" class="text">Browse through our collection to select
              the
              perfect design for your wedding or special event.
            </div>
        </div>
    </div>
    <div class="content2">
        <div style="text-align:center;">
            <div><img src="assets/images/hiw2.png" alt="hiw1"></div>
            <div style="padding-top: 2rem;" class="title">2. Look Fabulous</div>
            <div style="padding-left: 2rem; padding-right: 2rem;" class="text">Wear your fabulous jewellery and enjoy
              your
              special look!
            </div>
        </div>
    </div>
    <div class="content3">
        <div style="text-align:center;">
            <div><img src="assets/images/hiw3.png" alt="hiw1"></div>
            <div style="padding-top: 2rem;" class="title">3. Return</div>
            <div style="padding-left: 2rem; padding-right: 2rem;" class="text">Schedule a pickup at a time of your
              convenience.
            </div>
        </div>
    </div>
</div>

<div class="container2">
    <div class="text1">
        You’ve got 1000s of options at your fingertips. Try new jewelry, from our collection and look fabulous every day.
    </div>
    <div class="mobile">
        <img src="assets/images/mobile1.png" alt="">
    </div>

    <div class="mobile">
        <img src="assets/images/mobile2.png" alt="">
    </div>
    <div class="text1">
        Schedule a free home delivery and pickup at a time of your convenience. No credit card, no problem. Pay only when
        you receive the jewelry at your doorstep.
    </div>
</div>

<div class="container3">
    <div class="heading">DOWNLOAD OUR FREE MOBILE APP.</div>
    <div class="app-link">
    <div>
        <a style="padding: 2rem;" href="https://play.google.com/store/apps/details?id=com.smartown"><img src="assets/images/applestore.png" alt="App
        Store"></a>
    </div>
    <div>
        <a style="padding: 2rem;" href="https://play.google.com/store/apps/details?id=com.smartown"><img
            src="assets/images/playstore.png" alt="Play
          Store"></a>
    </div>
    </div>
</div>
